.zg-waterfall {
  width: 100%;

  .waterfall-wrap {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .waterfall-box {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s, background-color 0.5s, box-shadow 0.3s,
    opacity 0.5s;
    border-radius: 4px;
    box-sizing: border-box;

    a {
      cursor: pointer;
    }

    &:hover {
      background-color: #fff;
      box-shadow: $--box-shadow-dark;

      .waterfall-item {
        box-shadow: none;
      }
    }
  }

  .waterfall-item {
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: $--box-shadow-light;
    transition: box-shadow 0.3s;
    border-radius: 4px;
    overflow: hidden;

    &:hover .waterfall-item--link {
      color: $--link-color;
    }

    &--link {
      transition: color 0.3s;
    }
  }

  .waterfall-logo-wrap {
    border-radius: 4px;
  }

  .waterfall-logo {
    display: block;
    border-radius: 4px;
    width: 100%;
    background-color: #999;
  }

  .waterfall-footer {
    overflow: hidden;
    padding: 6px 0;
  }
}
